<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios FCI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesPrincipal.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="navbar">
        <a href="/"><img src="{{ url_for('static', filename='logo1.png') }}" alt="Logo"></a>
        <a href="/ConsultaSalaClases">Consulta salas</a>
        <a href="/login">Iniciar sesión</a>
        <div class="navbar-links">
            <!-- <a href="/login"><img src="{{ url_for('static', filename='iniciarsesion.png') }}" alt="Logo"></a> -->  
        </div>
    </div>

    <!-- Contenedor principal -->
    <div class="container">
        <!-- Puedes agregar aquí el contenido de la página -->
    </div>
</body>
</html>

