<!DOCTYPE html>
<html>
<head>
    <title>Horarios FCI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesPrincipal.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/"><img src="{{ url_for('static', filename='logo1.png') }}" alt="Logo"></a>
        <a href="/ConsultaSalaClases">Consulta salas</a>
        <a href="/login">Iniciar sesión</a>
        <div class="navbar-links">
            <!-- <a href="/login"><img src="{{ url_for('static', filename='iniciarsesion.png') }}" alt="Logo"></a> -->  
        </div>
    </div>   
    <!-- El resto de tu contenido -->
</body>

<head>
    <title>Tabla</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class = "container">

    

    </div>
</body>

</html>

